.image img{
	width: 45%;
	border: 2px;
	margin-left: 20px;
	border-radius: 200px;
}

header{
	position: fixed;
	width: 233px;
	height: 100%;
	background-color: rgba(230, 190, 11, 0.747);
}

header nav{
	display: block;
}

header nav ul{
	margin-top: 50px;
}

header nav ul li{
	list-style-type: none;
	padding-top:45px ;
}

header nav ul li a{
	text-decoration: none;
	color: rgb(212, 116, 116);
	transition: .5s;
}

header nav ul li a:hover{
	color: rgb(53, 3, 3);
}